@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", "sans-serif";
}

.xrb-bg-img {
  background-image: url(../public/xrbg.jpeg);
}

.xrb-logo {
  background-image: url(../public/logo.png);
}

.c-red {
  border: 5px solid red;
}
.c-blue {
  border: 5px solid blue;
}
.c-green {
  border: 5px solid green;
}
.c-yellow {
  border: 5px solid yellow;
}
